@import "./variables";

@mixin display(
    $dFlex: flex,
    $dirColumn: column,
){
    display: $dFlex;
    flex-direction: $dirColumn;
}

@mixin position(
    $position: fixed,
    $top: 0,
    $right: 0,
    $bottom: 0,
    $left: 0,
){
    position: $position;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
}

@mixin btn(
    $margin: 1rem 0 0 0,
    $height: 3rem,
    $border: 3px solid $color-primary,
    $border-radius: 3px,
    $background: $color-primary,
    $font-weight: bold,
    $color: #fff,
    $text-transform: uppercase
){
    margin: $margin;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    background: $background;
    font-weight: $font-weight;
    color: $color;
    text-transform: $text-transform;
}